.login {
  padding-top: 10%;
  height: 100vh;

  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.295),
      rgba(0, 0, 0, 0.397)
    ),
    url("../../../images/website_images_04_1.jpg");
  background-position: center;
}
.login input,
.login button {
  width: 100%;
}
.login input {
  border: 0;
  border-bottom: 2px solid black;
}
