body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.banner {
  background: url("../../images/sneha-divias-atelier.jpg");
  height: 100vh;
  width: 100vw;
  margin-right: 10%;
  background-position: right;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
}
.title {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.795),
    rgba(245, 245, 245, 0.521)
  );
  padding: 20px;
  text-align: left;
  top: 30%;
  left: 0%;
  font-size: 25px;
  color: w;
  color: #244e4d;
}
/* Enquiry */
.enquiry img {
  height: 90vh;
  width: 100%;
}
.enquiry input {
  width: 85%;
  margin-left: 20px;
  height: 40px;
}
.enquiry textarea {
  margin-left: 20px;
  width: 85%;
  height: 100px;
}

/* footer */
.footer {
  background-color: #f4f6f5;
  color: #244e4d;
}
/* features */
.features img {
  width: 90%;
  height: 100vh;
}

/* service */

.service-card {
  width: 400px;
}
.service-card img {
  width: 100%;
  transition: 1s;
}
.card-img {
  overflow: hidden;
}
.card-title {
  padding: 20px;
  text-align: left;
  padding-left: 30px;
  height: 100px;

  position: relative;
  transition: 1s;
}
.card-title span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3c3c45;
  height: 0;
  width: 100%;
  transition: 1s;
  z-index: -1;
}
.card-title a {
  text-decoration: none;
  display: none;
}
.service-card:hover .card-title a {
  display: block;
  color: white;
}
.service-card:hover .card-title {
  color: white;
  padding-top: 6px;
}
.service-card:hover .card-title span {
  height: 100%;
}
.service-card:hover img {
  transform: scale(1.2);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3%;
}

@media only screen and (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 7%;
  }
  .service-card {
    width: 95%;
  }
  .features img {
    width: 99%;
    height: 70vh;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
